<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="pythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="python|<path_to_your_virtualenv>\Scripts\python.exe|app.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".html" mimeType="text/html" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
    </staticContent>
  </system.webServer>
</configuration>
